.DS_Store

Manifest.toml

# ----------------------------------------------------------------------------------------------- #

tool/*

data/*

!tool/fastp-0.23.4.zip
!tool/STAR-2.7.9a.zip
!tool/minimap2-2.28.zip
!tool/rtg-tools-3.11-nojre.zip
!tool/HLA/bin
!tool/HLA/data

test/data/output/*

test/data/mouse_cdna_full/*
